.SkillContainer {
  margin: 0;
  padding: 24px;
}

.skillsLogoContainer {
    height: 480px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 50rem;
    margin-inline: auto;
    margin: 0px;
  
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  }
  
  .skillsLogoContainer a img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 350ms ease, opacity 350ms linear;
  }
  
  .skillsLogoContainergallery:has(img:hover) img:not(:hover) {
    transform: scale(0.8);
    opacity: 0.7;
  }

